apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: cloud-order-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: cloudorder2026acr.azurecr.io/order-service:latest
          ports:
            - containerPort: 5002
          envFrom:
            - configMapRef:
                name: order-config
          env:
            - name: ORDER_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: order-db-secret
                  key: ORDER_DB_PASSWORD
            - name: AZURE_STORAGE_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: azure-storage-secret
                  key: AZURE_STORAGE_CONNECTION_STRING
          readinessProbe:
            httpGet:
              path: /health
              port: 5002
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 5002
            initialDelaySeconds: 30
            periodSeconds: 30
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: cloud-order-system
spec:
  selector:
    app: order-service
  ports:
    - port: 5002
      targetPort: 5002
  type: ClusterIP
