apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
  namespace: cloud-order-system
data:
  # Nginx konfiguracija koja proxy-uje zahteve ka servisima
  nginx.conf: |
    server {
        listen 80;
        server_name localhost;
        root /usr/share/nginx/html;
        index index.html;

        location / {
            try_files $uri $uri/ /index.html;
        }
    }
